<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-fragment">
    <meta charset="UTF-8">
    <title>长木笔记</title>
<!--    <title th:text="|${configurations.get('websiteName')} - ${pageName}|">长木笔记</title>-->
<!--    <meta name="description" th:content="${configurations.get('websiteDescription')}">-->
<!--    <link rel="shortcut icon" th:href="@{${configurations.get('websiteIcon')}}"/>-->
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <style rel="stylesheet" th:href="@{/blog/css/bootstrap.min.css}"></style>
    <!-- Font-Awesome -->
    <link rel="stylesheet" th:href="@{/blog/css/font-awesome/css/font-awesome.min.css}">
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/blog/css/style.css}" id="theme-styles">
</head>


<header th:fragment="head-fragment">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">长木博客</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="width: 45px;height:50px;" class="navbar-brand" href="#">
                    <img alt="Brand" src="static/images/logo.png" width="100%" height="100%">
                </a>
                <a class="navbar-brand" href="#">长木博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页 </a></li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">归档</a></li>
                </ul>
                <!--                搜索框-->
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-inverse">提交</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">关于我</a></li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">我的收藏</a></li>
                            <li><a href="#">浏览记录</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null }"><a
                            href="https://github.com/login/oauth/authorize?client_id=a08ea8e11a598913a3ae&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav
</header>

</html>